.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; /* Ensures the buttons are positioned relative to the toolbar */
}



.landing-page-content {
  text-align: center;
  padding: 20px;
}

.spacer {
  flex: 1 1 auto;
}

.carousel-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
 
}

.carousel-item {
  flex: 0 0 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

.carousel-item img {
  width: 80%;
  height: auto;
  object-fit: cover;
}

.carousel-caption {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.carousel-navigation {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  color: white; /* White text/icons for contrast */
  border: none; /* Remove border */
  cursor: pointer; /* Pointer cursor for buttons */
  z-index: 1000; /* Ensure buttons are on top of carousel */
  padding: 10px; /* Add some padding for better clickability */
  border-radius: 50%; /* Make the buttons circular */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Subtle shadow for better visibility */
  transition: background 0.3s ease; /* Smooth background transition on hover */
}

.carousel-navigation:hover {
  background: rgba(0, 0, 0, 0.8); /* Darker background on hover */
}

.carousel-navigation:first-child {
  left: 10px; /* Align left button */
}

.carousel-navigation:last-child {
  right: 10px; /* Align right button */
}


